<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB92sksFD2ljyl_gqhPUS4PjVPX_e_JU_o</string>
	<key>GCM_SENDER_ID</key>
	<string>112530840436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leaveMib</string>
	<key>PROJECT_ID</key>
	<string>leave-mib</string>
	<key>STORAGE_BUCKET</key>
	<string>leave-mib.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112530840436:ios:497542d7bf4fbad2b9aa21</string>
</dict>
</plist>